{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='post_base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='create.css') }}">
{% endblock %}
    {% block content %}
        <section class="create">
            <h1>New Post</h1>

            <div class="title">
                <p>Title</p>
                <input name="title">
            </div>

            <div class="short_description">
                <p>Short description</p>
                <input name="short_description">
            </div>

            <div class="description">
                <p>Description</p>
                <input name="description">
            </div>

            <div class="tags">
                <ul class="tag-list">
                    <li class="tag-item">
                        <label>
                            <input type="checkbox" name="tag" value="IT">
                            IT
                        </label>
                    </li>

                    <li class="tag-item">
                        <label>
                            <input type="checkbox" name="tag" value="Sport">
                            Sport
                        </label>
                    </li>

                    <li class="tag-item">
                        <label>
                            <input type="checkbox" name="tag" value="Hobbie">
                            Hobbie
                        </label>
                    </li>

                    <li class="tag-item">
                        <label>
                            <input type="checkbox" name="tag" value="Nature">
                            Nature
                        </label>
                    </li>
                </ul>
            </div>
            <div class="save">
                <button class="save_button">Save</button>
            </div>
        </section>
    {% endblock %}
