{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="../../static/post_base.css">
    <link rel="stylesheet" href="../../static/post_list.css">
{% endblock %}

{% block content %}
    <section class="posts">
        <!--    POST - 1 -->
        <article class="post">
            <div class="info">
                <div class="img">A</div>
                <div class="date_and_name">
                    <p class="author">Adbokat</p>
                    <i class="publication_date">03.06.2024</i>
                </div>
            </div>
            <div class="text">
                <h2 class="post_title">Why Flask is good microframework?</h2>
                <p>
                    In the ever-evolving field of web development, the Python-based framework Django has often been the
                    subject of scrutiny. With its comprehensive “batteries included” philosophy, Django has carved a
                    significant niche for itself.
                </p>
            </div>
            <div class="post_footer">
                <div class="reactions">
                    <div class="like">
                        <p>22</p>
                        <button>Like</button>
                    </div>

                    <div class="dislike">
                        <p>2</p>
                        <button>Dislike</button>
                    </div>
                </div>

                <div class="tags">
                    <button>IT</button>
                    <button>Flask</button>
                </div>
            </div>
        </article>

        <!--    POST - 2 -->

        <article class="post">
            <div class="info">
                <div class="img">A</div>
                <div class="date_and_name">
                    <p class="author">Adbokat</p>
                    <i class="publication_date">03.06.2024</i>
                </div>
            </div>
            <div class="text">
                <h2>Why Flask is good microframework?</h2>
                <p>
                    In the ever-evolving field of web development, the Python-based framework Django has often been the
                    subject of scrutiny. With its comprehensive “batteries included” philosophy, Django has carved a
                    significant niche for itself.
                </p>
            </div>
            <div class="post_footer">
                <div class="reactions">
                    <div class="like">
                        <p>22</p>
                        <button>Like</button>
                    </div>

                    <div class="dislike">
                        <p>2</p>
                        <button>Dislike</button>
                    </div>
                </div>

                <div class="tags">
                    <button>IT</button>
                    <button>Flask</button>
                </div>
            </div>
        </article>

        <!--    POST -  3    -->

        <article class="post">
            <div class="info">
                <div class="img">A</div>
                <div class="date_and_name">
                    <p class="author">Adbokat</p>
                    <i class="publication_date">03.06.2024</i>
                </div>
            </div>
            <div class="text">
                <h2>Why Flask is good microframework?</h2>
                <p>
                    In the ever-evolving field of web development, the Python-based framework Django has often been the
                    subject of scrutiny. With its comprehensive “batteries included” philosophy, Django has carved a
                    significant niche for itself.
                </p>
            </div>
            <div class="post_footer">
                <div class="reactions">
                    <div class="like">
                        <p>22</p>
                        <button>Like</button>
                    </div>

                    <div class="dislike">
                        <p>2</p>
                        <button>Dislike</button>
                    </div>
                </div>

                <div class="tags">
                    <button>IT</button>
                    <button>Flask</button>
                </div>
            </div>
        </article>
    </section>
{% endblock %}