{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="../../static/post_base.css">
<link rel="stylesheet" href="../../static/post_list.css">
{% endblock %}

{% block content %}

<section class="posts">
    {% if g.user %}
    <button class="new_post_button" id="posts__new_post">Create new post</button>
    {% endif %}
    <!--    POST - 1 -->
    {% for post in posts %}
    <article class="post">
        <div class="info">
            <div class="img">A</div>
            <div class="date_and_name">
                <p class="author">{{ post['username'] }}</p>
                <i class="publication_date">{{ post['created'].strftime('%Y-%m-%d') }}</i>
            </div>
        </div>
        <div class="text">
            <h2 class="post_title"><a class="post_link" href="{{ url_for('blog.post_details', id=post['id']) }}">{{
                post['title'] }}</a></h2>
            <p>
                {{ post['short_description'] }}
            </p>
        </div>
        <div class="post_footer">
            <div class="reactions">
                <div class="like">
                    <p>{{ count_likes }}</p>
                    {% if like_status == true %}
                    <button class="active_reactions">Like</button>
                    {% else %}
                    <button class="passive_reactions">Like</button>
                    {% endif %}
                </div>

                <div class="dislike">
                    <p>{{ count_dislikes }}</p>
                    {% if like_status == false %}
                    <button class="active_reactions">Dislike</button>
                    {% else %}
                    <button class="passive_reactions">Dislike</button>
                    {% endif %}
                </div>
            </div>

            <div class="tags">
                {% for tag in post['tags'] %}
                <button>{{ tag['name'] }}</button>
                {% endfor %}
            </div>
        </div>
    </article>
    {% endfor %}
</section>
{% endblock %}