{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='post_base.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='post_page.css') }}">

{% endblock %}

{% block content %}
<section class="post">
    <div class="post_header">
        <h1 class="title">{{ post['title'] }}</h1>
        <div class="author_and_date">
            <div class="author">
                <div class="avatar">A</div>
                <p class="name">{{ post['username']}}</p>
            </div>
            <div class="date">
                <p>{{ post['created'] }}</p>
            </div>
        </div>
    </div>

    <div class="tags">
        <!--            <button class="tag">IT</button>-->
        <!--            <button class="tag">Flask</button>-->
    </div>

    <div class="text">{{ post['body'] }}</div>
    <div class="reactions">
        <div class="like">
            <p>{{ count_likes }}</p>
            {% if like_status == true %}
            <button class="active_reactions">Like</button>
            {% else %}
            <button class="passive_reactions">Like</button>
            {% endif %}
        </div>

        <div class="dislike">
            <p>{{ count_dislikes }}</p>
            {% if like_status == false %}
            <button class="active_reactions">Dislike</button>
            {% else %}
            <button class="passive_reactions">Dislike</button>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}