.posts {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.post {
    background-color: #DCCAE9;
    width: 60%;
    display: flex;
    /*justify-content: center;*/
    flex-wrap: wrap;
    margin: 50px;
    padding: 20px;
    border-radius: 20px;

}

.info {
    height: 70px;
    display: flex;
    padding: 5px;
}
.date_and_name {
    display: flex;
    align-items: flex-end;

    padding-left: 30px;

}

.author {
    font-weight: 1000;
    font-size: 32px;


}
.publication_date {
    padding-left: 50px;
    font-size: 18px;
}
.text {
    margin: 15px 0;
    width: 100%;
}
.text p {
    margin-top: 10px;
    font-size: 24px ;
}
.post_title {
    font-size: 32px;

}
.post_link {
    color: black;
}
.post_link:visited {
    color:gray;
}

.post_footer {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.new_post_button {
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px 15px;
    border: none;
    color: #DCCAE9;
    background-color: #724C9D;
}
