{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
{% endblock %}

{% block content %}

    <section class="login">
        <h1>Welcome to blog</h1>

        <div class="login_switch">
            <button id="login_option" class="login_switch_login active_switch">Login</button>
            <button id="sign_up_option" class="login_switch_sign_up ">Sing Up</button>
        </div>

        <form class="login_form" method="post">
            <input name="username" placeholder="Nickname">
            <input name="password" type="password" placeholder="Password">
            <button>Login</button>
        </form>

    </section>

{% endblock %}